!DOCTYPE html>
<html lang="en">
    <head>
        <title>OmniFood</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/Grid.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
        <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">
    </head>
    <body>
        