h1 {
    color: rgb(11, 76, 7);
    font-size: 50px;
    text-align: center;
    font-family: 'Chonburi', cursive;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #556270;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #81d67a, #e8964e, #f7f388);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #81d67a, #e8964e, #f7f388); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media print {
    .no-print, .no-print  {
        display: none !important;
    }
}


.con {
  width: 1500px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: scroll;
}

